* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
    body {
            margin: 0;
            padding: 0;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-family: "Montserrat", sans-serif;
}

.search-form {
    text-align: center;
    padding: 36px  156px;
    width: 1440px;
    height: auto;
    display:flex;
    flex-direction: column;
    gap: 32px;
    justify-content:flex-start;
    align-items:center;

}

#search-form input {
    padding: 10px;
    width: 250px;
}

#search-form button {
    padding: 10px 20px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 14px;
}







body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gallery-container {
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
}

.gallery {
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    margin: 0 auto;
    list-style: none;

}

.gallery-item {
    width: calc((1128px - 48px) / 3);
    /* Ширина кожного зображення (3 в ряд) */
    height: calc((648px - 48px) / 3);
    /* Висота кожного зображення (3 ряди) */
    box-sizing: border-box;

}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basicLightbox__placeholder {
    position: fixed;
    top: 0;
    left: 0;
    width: 1440px;
    height: 696px;
    padding: 28px 164px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.basicLightbox__placeholder img {
    max-width: 1112px;
    max-height: 640px;
}

/* Заборона прокрутки при відкритому модальному вікні */
body.basicLightbox--visible {
    overflow: hidden;
}